In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

###  1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [11]:
driver=webdriver.Chrome()

In [12]:
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ")

In [13]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [14]:
rank_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank_tags:
    ranks=i.text
    rank.append(ranks)
    
name_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]') 
for i in name_tags:
    names=i.text
    name.append(names)
    
artist_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')  
for i in artist_tags:
    artists=i.text
    artist.append(artists)
    
upload_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]') 
for i in upload_tags:
    uploads=i.text
    upload_date.append(uploads)
    
view_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]') 
for i in view_tags:
    view=i.text
    views.append(view)

In [15]:
print(len(rank),len(name),len(artist),len(upload_date),len(views))

48 48 48 48 48

In [17]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload_Date':upload_date,'Views':views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48
30,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[9]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[22]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[31]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[66]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[70]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[77]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[79][80]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[77]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokémon Theme Music Video""‡[90]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[95][96]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[99]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[105]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Ronaldinho: Touch of Gold""‡*[108]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
47,"""I/O Brush""‡*[114]",larfus,"247,000","October 29, 2005","October 5, 2005"

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
driver=webdriver.Chrome()

In [11]:
driver.get("http://statisticstimes.com/")

In [20]:
rank=[]
state=[]


share18_19=[]
gdp=[]

In [21]:
rank_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank_tags:
    ranks=i.text
    rank.append(ranks)

state_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in state_tags:
    states=i.text
    state.append(states)
    

    
share_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share_tags:
    shares=i.text
    share18_19.append(shares)
    
gdp_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_tags:
    gdps=i.text
    gdp.append(gdps)

In [22]:
gsdp18_19=[]

gsdp_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_tags:
    gsdps=i.text
    gsdp18_19.append(gsdps)

In [23]:
gsdp19_20=[]

gps_tags=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gps_tags:
    gsps=i.text
    gsdp19_20.append(gsps)

In [24]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP18_19':gsdp18_19,'GSDP19_20':gsdp19_20,'Share18_19':share18_19,'GDP':gdp})
df

   Rank                      State  GSDP18_19  GSDP19_20 Share18_19      GDP
0     1                Maharashtra  2,632,792          -     13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853      8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818      8.39%  240.726
3     4                    Gujarat  1,502,899          -      7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977      7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832      5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989      4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782      4.57%  131.083
8     9                  Telangana    861,031    969,604      4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672      4.29%  122.977
10   11                     Kerala    781,653          -      4.14%  118.733
11   12                      Delhi    774,870    856,112      4.10%  117.703
12   13                    Haryana    734,163    831,610      3.89%  111.519
13   14                      Bihar    530,363    611,804      2.81%   80.562
14   15                     Punjab    526,376    574,760      2.79%   79.957
15   16                     Odisha    487,805    521,275      2.58%   74.098
16   17                      Assam    315,881          -      1.67%   47.982
17   18               Chhattisgarh    304,063    329,180      1.61%   46.187
18   19                  Jharkhand    297,204    328,598      1.57%   45.145
19   20                Uttarakhand    245,895          -      1.30%   37.351
20   21            Jammu & Kashmir    155,956          -      0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472      0.81%   23.369
22   23                        Goa     73,170     80,449      0.39%   11.115
23   24                    Tripura     49,845     55,984      0.26%    7.571
24   25                 Chandigarh     42,114          -      0.22%    6.397
25   26                 Puducherry     34,433     38,253      0.18%    5.230
26   27                  Meghalaya     33,481     36,572      0.18%    5.086
27   28                     Sikkim     28,723     32,496      0.15%    4.363
28   29                    Manipur     27,870     31,790      0.15%    4.233
29   30                   Nagaland     27,283          -      0.14%    4.144
30   31          Arunachal Pradesh     24,603          -      0.13%    3.737
31   32                    Mizoram     22,287     26,503      0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -          -        -

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https:/www.billboard.com/")

In [6]:
hot_100=driver.find_element(By.XPATH,'//div[@class="main-sub-menu-container-esp js-hide-when-sticky lrv-u-flex lrv-u-background-color-white u-height-45"]/div/nav/ul/li[4]')
					
hot_100.click()

In [7]:
song=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weak_on_board_note=[]

In [9]:
song_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li/h3')
for i in song_tags:
    songs=i.text
    song.append(songs)
    
artist_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[1]/span')
for i in artist_tags:
    artists=i.text
    artist.append(artists)
    
last_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[4]')
for i in last_tags:
    lasts=i.text
    last_week_rank.append(lasts)
    
peak_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[5]')   
for i in peak_tags:
    peaks=i.text
    peak_rank.append(peaks)
    
weak_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li/ul/li[6]')
for i in weak_tags:
    weaks=i.text
    weak_on_board_note.append(weaks)

In [12]:
import pandas as pd
df=pd.DataFrame({'Song':song,'Artist':artist,'Last_week_rank':last_week_rank,'Peak_rank':peak_rank,'Wak_on_board_note':weak_on_board_note})
df

,Song,Artist,Last_week_rank,Peak_rank,Wak_on_board_note
0,Paint The Town Red,Doja Cat,1,1,9
1,Snooze,SZA,2,2,43
2,Cruel Summer,Taylor Swift,4,3,22
3,Fast Car,Luke Combs,3,2,28
4,3D,Jung Kook & Jack Harlow,-,5,1
...,...,...,...,...,...
95,Long Journey,Rod Wave,75,39,3
96,But I Got A Beer In My Hand,Luke Bryan,-,92,3
97,Rubicon,Peso Pluma,-,63,12
98,East Side Of Sorrow,Zach Bryan,95,18,6
99,Where She Goes,Bad Bunny,-,8,19

### 6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [5]:
book_name=[]
author_name=[]
volime_solds=[]
publisher=[]
gener=[]

In [6]:
book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_tags:
    books=i.text
    book_name.append(books)
    
author_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')  
for i in author_tags:
    authors=i.text
    author_name.append(authors)
    
volime_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volime_tags:
    volimes=i.text
    volime_solds.append(volimes)
    
publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_tags:
    publishers=i.text
    publisher.append(publishers)
    
gener_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gener_tags:
    geners=i.text
    gener.append(geners)

In [7]:
import pandas as pd
df=pd.DataFrame({'Book_Name':book_name,'Author_Name':author_name,'Volumes_Sold':volime_solds,'Publisher':publisher,'Gener':gener})
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get("https://www.imdb.com/list/ls095964455/ ")

In [11]:
name=[]
year_span=[]

run_time=[]
rating=[]
vote=[]
gener=[]

In [12]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in name_tags:
    names=i.text
    name.append(names)
    
year_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]') 
for i in year_tags:
    years=i.text
    year_span.append(years)
    
run_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in run_tags:
    runs=i.text
    run_time.append(runs)
    
rating_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div[1]')
for i in rating_tags:
    ratings=i.text
    rating.append(ratings)
    
vote_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]') 
for i in vote_tags:
    votes=i.text
    vote.append(votes)
    
gener_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')  
for i in gener_tags:
    geners=i.text
    gener.append(geners)

In [13]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Year_Span':year_span,'Run_Time':run_time,'Rating':rating,'Votes':vote,'Gener':gener})
df

,Name,Year_Span,Run_Time,Rating,Votes,Gener
0,Game of Thrones,(2011–2019),57 min,9.2,"2,212,167","Action, Adventure, Drama"
1,Stranger Things,(2016–2025),51 min,8.7,"1,282,206","Drama, Fantasy, Horror"
2,The Walking Dead,(2010–2022),44 min,8.1,"1,049,582","Drama, Horror, Thriller"
3,13 Reasons Why,(2017–2020),60 min,7.5,"308,430","Drama, Mystery, Thriller"
4,The 100,(2014–2020),43 min,7.6,"267,405","Drama, Mystery, Sci-Fi"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,7.5,"52,924",Drama
96,A Series of Unfortunate Events,(2017–2019),50 min,7.8,"64,998","Adventure, Comedy, Drama"
97,Criminal Minds,(2005– ),42 min,8.1,"211,783","Crime, Drama, Mystery"
98,Scream: The TV Series,(2015–2019),45 min,7,"44,069","Comedy, Crime, Drama"
99,The Haunting of Hill House,(2018),572 min,8.6,"268,723","Drama, Horror, Mystery"

### 
4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://github.com/")

### 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
driver=webdriver.Chrome()

In [5]:
driver.get(" https://www.bcci.tv/")

In [25]:
place=[]

In [26]:
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tags[0:6]:
    plaes=i.text
    place.append(plaes)

In [27]:
series=[]

In [28]:
series_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
for i in series_tags[0:6]:
    seriess=i.text
    series.append(seriess)

In [29]:
time=[]
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    times=i.text
    time.append(times)

In [30]:
date=[]
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    dates=i.text
    date.append(dates)

In [31]:
len(series)

6

In [33]:
import pandas as pd
df=pd.DataFrame({'SERIES':series,'PLACE':place,'DATE':date,'TIME':time})
df

,SERIES,PLACE,DATE,TIME
0,India\nvs\nBangladesh,Match 17 - Maharashtra Cricket Association Sta...,19 OCT 2023,1:30 AM PDT
1,India\nvs\nNew Zealand,Match 21 - Himachal Pradesh Cricket Associatio...,22 OCT 2023,1:30 AM PDT
2,India\nvs\nEngland,Match 29 - Bharat Ratna Shri Atal Bihari Vajpa...,29 OCT 2023,1:30 AM PDT
3,India\nvs\nSri Lanka,"Match 33 - Wankhede Stadium, Mumbai",2 NOV 2023,1:30 AM PDT
4,India\nvs\nSouth Africa,"Match 37 - Eden Gardens, Kolkata",5 NOV 2023,1:30 AM PDT
5,India\nvs\nNetherlands,"Match 45 - M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,12:30 AM PDT